<!doctype html>
<html>
<head>
    <title>Derryl Carter | Design & Development</title>
    <meta name="keywords" content="Derryl Carter, Drryl, interface design, web app design, ui design, web designer, front-end dev, TestFlight, startup, santa monica, CSS3, HTML5, backbone, underscore, zepto, jquery,"/>
    <meta name="author" content="Derryl Carter"/>
    <!-- build:css master.min.css -->
    <link rel="stylesheet" href="master.min.css">
    <!-- endbuild -->
    <link rel="icon" href="favicon.ico">
    <meta content="True" name="HandheldFriendly"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>

    <section class="content">

        {{ content }}

    </section>

    <!-- <script type="text/javascript" src="/app.js" defer></script> -->

    <script type="text/javascript">
    window.onload = function() {
        var app = document.createElement("script");
        app.setAttribute("src", "/app.js");
        document.body.appendChild(app);
    };
    </script>

    <script type="text/javascript">
        // var _gaq = _gaq || [];
        // _gaq.push(['_setAccount', 'UA-23108266-2']);
        // _gaq.push(['_trackPageview']);
        // (function() {
        // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('ga.js');
        // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        // })(); 
    </script>

</body>
</html>