<!doctype html>
<html>
<head>
    <title>Drryl</title>
    <link rel="stylesheet" href="/master.min.css">
    {% include metadata.html %}
    {% include typekit_loader.html %}
</head>

<!-- 
    Homepage: 
    Show only the most recent post
-->
<body class="view-home">

    <section class="content">

        {% include top_nav_stacked.html %}

        {{ content }}

    </section>

    {% include footer.html %}

    {% include load_javascript.html %}

    <script type="text/javascript">
        // var _gaq = _gaq || [];
        // _gaq.push(['_setAccount', 'UA-23108266-2']);
        // _gaq.push(['_trackPageview']);
        // (function() {
        // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('ga.js');
        // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        // })(); 
    </script>

</body>
</html>