---
layout: post
---
<!doctype html>
<html>
<head>
    <title>Drryl{{ if page.title }} | {{ page.title }} {{ endif }}</title>
    <link rel="stylesheet" href="/master.min.css">
    {% include metadata.html %}
    {% include typekit_loader.html %}
</head>

<body class="view-post">

    <section class="content">

        {% include top_nav_compact.html %}

        <article class="post">
        
            <h1>
                {{ page.title }}
            </h1>

            {{ content }}

            <p class="post-meta">Posted on 15 June, 2013</p>

        </article>


    </section>

    {% include load_javascript.html %}

    <script type="text/javascript">
        // var _gaq = _gaq || [];
        // _gaq.push(['_setAccount', 'UA-23108266-2']);
        // _gaq.push(['_trackPageview']);
        // (function() {
        // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('ga.js');
        // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        // })(); 
    </script>

</body>
</html>