---
layout: post
---
<!doctype html>
<html>
<head>
    <title>Drryl{{ if page.title }} | {{ page.title }} {{ endif }}</title>
    <link rel="stylesheet" href="/master.min.css">
    {% include metadata.html %}
    {% include typekit_loader.html %}
</head>

<body class="view-post">

    <section class="content">

        {% include top_nav_compact.html %}

        <article class="post">
        
            <h1>
                {{ page.title }}
            </h1>

            {{ content }}

            <p class="post-meta">Posted on 15 June, 2013</p>

        </article>


    </section>

    {% include footer.html %}

    {% include load_javascript.html %}

</body>
</html>