.r {border: 1px solid red;} .g {border: 1px solid green;} .b {border: 1px solid blue;}

body { background: #fdefd5; color: #5f5c56; font-family: Arial, Helvetica, sans-serif; }

a { color: #ed1a6b; }

#wrapper { width: 600px; margin: 0 auto; padding-top: 35px; }

h1 a { 
	display: block;
	margin: 0 auto;
	width: 350px;
	height: 215px;
	text-indent: -99999px;
	background: url(../img/curly_transparent2.png) 0 0 no-repeat;
}

#nav { list-style: none; margin: 0 auto; text-align: center; margin-bottom: 24px; }
#nav li { display: inline-block; margin: 0 8px; }
#nav li a { font-size: 1.4em; text-decoration: none; opacity: 0.75; }
#nav li a:hover { opacity: 1; }


.social {
	margin: 0 auto 15px;
	width: 400px; 
	text-align: center;
	position: relative;
	overflow: visible;
	padding: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	background: #fcf9f2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#fb-root { margin: 0 auto; text-align: center; display: inline-block; }