html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, ol, ul, li, table, tr, th, td, form { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent; }
html, body { height: 100%; min-height: 100%; }
body { 
	font: normal 1em/1.5em Helvetica, Arial, Verdana, sans-serif; 
	text-align:center; 
	color: #eee; 
	background: #272822; 
}
a { color: #666; font-weight: bold; text-decoration: none; }

/* Headlines */

h1, h2, h3, h4, h5, h6 { margin-bottom: 24px; font-weight: bold }

h1 { font-size: 4.8em; 	line-height: 1em; }
h2 { font-size: 1.7em;line-height: 1.0909em; }
h3 { font-size: 1.25em; line-height: 1.2em; }
h4 { font-size: 1.125em;line-height: 1.333em; }
h5 { font-size: 0.9em; 	line-height: 1.5em; }
h6 { font-size: 1em; 	line-height: 1.5em; }

/* Paragraphs */

p { font-size: 1em; line-height: 1.5em; max-width: 510px; margin-bottom: 24px; }
p+p { text-indent: 1.5em; }

.code { font-family: monospace; background: rgba(0,0,0,0.3); padding: 2px;}


#wrapper {
	width: 
}