.book { 
	display: block;
	position: relative;
	float: left;
	background: #aaa;
	box-shadow: inset 0 0 1px #333;
}

.book+.book { margin-left: 5px; margin-top: 5px; }
.block+.book { margin-left: 5px; }

.block { float: left; width: 242px; }
	.block .book { margin-left: 5px; }
	.block .book:nth-child(2) { margin-top: 0; }

.book.large { width: 233px; height: 189px; }
.book.medium { width: 116px; height: 92px; }
.book.small { width: 116px; height: 92px; }
.book.tiny { width: 116px; height: 92px; }