.book { 
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	}
	.book { -webkit-transition: all .15s ease-in-out; }
	.book:hover { 
		cursor: pointer; 
		-webkit-transform: scale(1.1);
		z-index: 10;
		box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
		}
	.book+.book { margin-left: 5px; margin-top: 5px; }
	.book * { cursor: pointer; }

/* Result Blocks (three of them) */
.block { float: left; width: 240px; }
	.block .book { margin-left: 5px; }
	.block .book:first-child.medium + .book.medium { margin-top: 0; }

/* Book Result Sizes */
	.book.large { height: 331px; width: 235px; }
	.book.medium { width: 115px; height: 163px; }
	.book.small { width: 60px; height: 90px; }
	.book.tiny { width: 35px; height: 22px; }


/* Book Metadata */
	.book .book_meta {
		position: absolute; bottom: 0;
		text-align: left;
		width: 95%;
		z-index: 5;
		background: #ddd;
		background: rgba(255,255,255,0.8);
		color: #333;
		padding: 7px 6% 10px;
		}
	
	/* Book Covers */
	.book > img {
		margin: 0 auto;
		width: 100%; height: 100%;
		z-index: 1;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
		}
