/*@font-face {
    font-family: 'Meta Serif Pro';
    src: url('/fonts/MetaSerifPro-Book.eot');
    src: url('/fonts/MetaSerifPro-Book.ttf') format('truetype'),
         url('/fonts/MetaSerifPro-Book.svg#MetaSerifPro') format('svg');          
    .normal-weight-and-style();
    .fix-webkit-antialiasing();
}*/

@font-face {
    font-family: 'Numerals';
    src: url('/fonts/Pompadour.eot');
    src: url('/fonts/Pompadour.ttf') format('truetype'),
         url('/fonts/Pompadour.svg#Pompadour') format('svg');          
    .normal-weight-and-style();
    .fix-webkit-antialiasing();
}

@font-face {
    font-family: 'PNova';
    src: url('/fonts/pnova/pnova.eot');
    src: url('/fonts/pnova/pnova.ttf') format('truetype'),
         url('/fonts/pnova/pnova.svg#PNova') format('svg');          
    .normal-weight-and-style();
    .fix-webkit-antialiasing();
}