.footer {
    overflow: hidden;
    /*background: rgba(255,0,0,0.2);*/
    /*padding-bottom: @lineHeight/2;*/
    p {
        margin-top: 0.3em;
        .align-center;
        .sans-serif;

        font-size: 0.9em;
        font-weight: bold;
        color: @mediumGrey;
    }
}