
// Text alignment
.center { text-align:center; }
.right  { text-align:right;  }
.left   { text-align:left;   }


// Main page layout
#wrapper {
    .clearfix;
    max-width: 960px;
    margin: 0 auto;
    > .column { margin-top: 60px; }
}

.content {
    .centered;
    padding: 4em 0;
    /*opacity: 1;*/
    /*.fadeUp;*/
}

article {
    padding: 3em 0;
}