
// Text alignment
.center { text-align:center; }
.right  { text-align:right;  }
.left   { text-align:left;   }


// Main page layout
body {
    padding-bottom: 5em;
    /*&.view-home { padding-top: 5em; }*/
    &.view-post { padding-top: 0;   } // un-needed, but placed here for clarity

    /*&:after {
        display: block;
        content: '';
        position: fixed;
        top: 0; left: 50%;
        width: 1px; height: 100%;
        background: rgba(0,0,0,0.1);
    }*/
}

.content {
    .centered;
    /*padding: 4em 0;*/
    /*background: rgba(0,255,0,0.2);*/
}

article {
    padding: 2em 0;
    /*background: rgba(0,0,255,0.2);*/
}