.size( @width, @height ) {
    width:  @width;
    height: @height;
}

// Hide + show
.hide { display: none; }
.show { display: block; }

// Positioning
.centered { margin-left: auto; margin-right: auto; }

// Quick floats
.pull-right { float: right; }
.pull-left  { float: left;  }

// Set layout model to box-sizing
.border-box {
    box-sizing: border-box;
}

* {
    .border-box;
}

// Clear floated elements
.clearfix() {
    &:before, &:after { display: table; content: ""; }
    &:after { clear: both; }
}
.clear { .clearfix(); }

// Border Radius
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
        -ms-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}