
// Top Nav

.top-nav {
    display: block;
    position: relative;
    .centered;
    .align-center;
    .clearfix;
}

.top-nav--links {

    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    .clearfix;

    li { 
        display: block;
        .pull-left;
        width: 33.33%;
        /*width: 25%;*/
        margin: @lineHeight/2 0;
    }
    a  {
        display: inline-block; 
        width: 100%; height: 100%;
        padding: @lineHeight/2 0;
        .sans-serif;
        font-weight: bold;
        font-size: 1.62em;
        color: lighten(@textColor, 50%);
        text-decoration: none;
        .transition(~"color .75s ease-in-out");
    }

    &:hover a {
        color: lighten(@textColor, 40%);
        .transition(~"color .35s ease-in-out");
    }

    a:hover, li.active a {
        color: @textColor !important;
    }

    li.active {
        /*border-bottom: 2px solid @primary;*/
    }

    @media @biggish {
        width: 85%;
    }
}

.top-nav--home {
    width: 7em;
    margin: 0 auto;
    display: block;
}

.top-nav--logomark {
    .size(80px, 74px);
    margin: 2em auto 0;
    background: url(/img/d-logomark.png) 0 0 no-repeat;
    background-size: 100% auto;
    @media @small { .square(5em); }
    @media @tiny  { .square(4em); }
}


// Darken the nav links when hovering on top nav area
/*.top-nav:hover {
    .top-nav--links a {
        color: lighten(@textColor, 40%);
    }
}*/





// Bottom Nav

// Nav at bottom of page
.bottom-nav {

    margin-top: 2em;
    list-style: none;
    text-align: center;

    .bottom-nav--link {
        display: inline-block;
        color: @mediumGrey;
        border: 2px solid lighten(@mediumGrey, 10%);
        text-decoration: none;
        font-size: 2em;
        padding: (@lineHeight * 0.5) @lineHeight (@lineHeight / 1.62);
        &:hover {
            color: darken(@mediumGrey, 10%);
            background: lighten(@mediumGrey, 35%);
        }
    }

}
