
.post-list {
    /*display: inline-block;*/
    margin-top: 4em;
    padding: 0;
    .align-center;
}

.post-list--item {
    display: block;
    height: 4em;
}

.post-list--timestamp, .post-list--permalink {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.post-list--timestamp {
    .hide;
    width: 7em;
    font-size: 1em;
}

.post-list--permalink {
    display: block;
    .headline;
    font-size: 2em;
    text-decoration: none;
}