
@huge:   ~"all and (min-width: 60.6250001em)";                              // > 970
@normal: ~"all and (min-width: 47.5000001em) and (max-width: 60.625em)";    // 740 - 970
@medium: ~"all and (min-width: 40.0000001em) and (max-width: 47.5em)";      // 640 - 740
@small:  ~"all and (min-width: 30.0000001em) and (max-width: 40em)";        // 480 - 640
@tiny:   ~"all and (max-width: 30em)";                                      // < 480

@step1: @tiny;
@step2: @small;
@step3: @medium;
@step4: @normal;
@step5: @huge;

@gigantor: ~"(min-width: 100em)";
@enormous: ~"(min-width: 70em)";
@biggish:  ~"(min-width: 47.5000001em)";
@smallish: ~"(max-width: 40em)";
@not_small:~"(min-width: 40.00001em)";
@not_tiny: ~"(min-width: 30.00001em)";

@normal_or_less: ~"(max-width: 60.625em)";
@medium_or_less: ~"(max-width: 47.500em)";
@small_or_less:  ~"(max-width: 40.000em)";

@retina: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";


.content {
    width: 37em;
}

.resizeAll(@pct: 100%) {
    body { font-size: @pct !important; }
}

/*@media @normal_or_less {
    .content {  width: 43.75em; }
}*/

// @media @medium_or_less {
//     .resizeAll( 85% );
//     .content { width: 540px; }
// }

@media @small_or_less {
    .resizeAll( 90% );
    // .resizeAll( 75% );
    .content  { width: 28em; }
}

@media @tiny {
    .resizeAll( 70% );
    .content {
        width: 100%;
        padding-left:  2em;
        padding-right: 2em;
    }
    article   { padding: 1em 0; }
    // body { background: green !important; }
}

@media @enormous {
    .resizeAll(115%);
    /*.content { width: 54em; }*/
}

@media @gigantor {
    .resizeAll(120%);
    /*.content { width: 58em; }*/
}
