.content {
    width: 800px;
}

/*@media all and (max-width: 1000px) {
    .content {
        width: 760px;
    }
}*/

@media all and (max-width: 900px) {
    .content {
        width: 620px;
    }
}

@media all and (max-width: 640px) {
    .content {
        width: 460px;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 80%;
    }
    .content {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
}