body {
    background: @backgroundColor;
    color: @textColor;
}

img {
    max-width: 100%;
}


// Written on ... displayed after post
.post-meta {
    margin: 0 auto;
    text-align: center;
    color: #aaa;
    /*text-transform: uppercase;*/
    .sans-serif;
}

article.center_align_content {
    p {
        text-align: center !important;
    }
}

ul {
    line-height: 1.2em;
    list-style-type: disc;
    li {
        margin-bottom: .4em;
    }
}
p + ul {
    margin-top: -1em;
}
