body {
    background: @backgroundColor;
    color: @textColor;
}

img {
    max-width: 100%;
}


// Written on ... displayed after post
.post-meta {
    margin: 0 auto;
    text-align: center;
    color: #aaa;
    /*text-transform: uppercase;*/
    .sans-serif;
}


// Masthead images

/*.masthead {
    width: 100%;
    margin-left: -4em;
    margin-right: -4em;
}*/

// About page

.about {
    .centered;
    @media @biggish { width: 70%; }
    /*@media @normal { width: 70%; }*/
    .about--photo {
        width: 100%;
        max-width: 500px;
    }
    .about--info {
        .align-center;
    }
}

