body {
    background: @bodyBackground;
    color: @bodyColor;
}


@vert-padding: 20px;

// Main page layout
#wrapper {
    .clearfix;
    max-width: 960px;
    margin: 0 auto;
    > .column { margin-top: 60px; }
}

.content {
    .centered;
    padding: 30px 0;
    /*opacity: 1;*/
    /*.fadeUp;*/
}

article {
    padding: 6em 0;
}




.links {
    margin-top: 7em;
}

.links a {
    display: inline-block;
    color: #666;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0.35em;
    padding: 0.6em 1.3em;
    border-radius: 3em;
    border: 0.2em solid rgba(0,0,0,0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        /*color: #fff;*/
        border-color: rgba(0,0,0,0.5);
        color: #333;
        /*background: rgba(0,0,0,0.05);*/
        /*background: @orange;*/
    }
}


// Written on ... displayed after post
.post-meta {
    margin: 0 auto;
    text-align: center;
    color: #aaa;
    /*text-transform: uppercase;*/
    .sans-serif;
}