body {
    font-size: 100%;
    line-height: 1.5em;
    /*font-family: "Meta Serif Pro", Georgia, Times New Roman, serif;*/
    font-family: "freight-sans-pro", 'Meta Serif Pro', "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    .sans-serif;
    /*font-family: "Gotham Rounded", sans-serif;*/
}

h1 { 
    font-size: 2.6em;
    line-height: 1.4em;
    margin-bottom: 1.2em;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 1.2em;
    margin-top: 2em;
    text-align: center;  
}

p {
    text-align:  justify;
    font-size:   1.2em;
    line-height: 1.62em;
    margin-bottom: 1.62em;
    font-weight: 300;
    &.larger {
        font-size: 2.4em;
        font-weight: 500;
    }
}

a {
    text-decoration: none;
    color: @orange;
    &.tfblue { /*color: #237cc0;*/ }
}

pre {
    margin-bottom: 1.62em;
}

/*@media all and (min-width: 480px) { body { font-size: 75%;  } }
@media all and (min-width: 600px) { body { font-size: 85%;  } }
@media all and (min-width: 760px) { body { font-size: 100%; } }
@media all and (min-width: 960px) { body { font-size: 120%; } }*/