body {
    font-size: 100%;
    line-height: 1.62em;
    .sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    .headline;
    &.sans { 
        .sans-serif;
        font-weight: bold;
    }
}

article { h1, h2, h3, h4 { .align-center; } }

h1 { 
    font-size: 2.6em;
    line-height: 1.4em;
    margin-bottom: 1.2em;
    &.supersize {
        .sans-serif;
        font-size: 6em;
        font-weight: bold;
    }
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.62em;
    line-height: 1.4em;
    margin-bottom: 1.2em;
    margin-top: 2em;
}

p {
    .sans-serif;
    text-align:  justify;
    font-size:   1.2em;
    line-height: 1.62em;
    margin-bottom: 1.62em;
    font-weight: 300;
    &.larger {
        font-size: 2.4em;
        font-weight: 500;
    }
    &.smaller {
        font-size: 0.9em;
    }
}

.larger() {
    font-size: 2.4em;
    font-weight: 500;
}

.smaller() {
    font-size: 0.9em;
}

a {
    color: @linkColor;
    text-decoration: underline;
}

blockquote {
    .clearfix;
}

article blockquote p {
    .serif;
    .align-center;
    padding: 0.5em 0;
}

pre {
    margin-bottom: 1.62em;
}

strong, em {
    font-weight: normal;
    .headline;
}

@media @smallish {
    h1 { font-size: 2em; }
}
@media @tiny {
    p { font-size: 1.4em; }
}