
@lineHeight: 1.62em;


@defaultPadding: @lineHeight;
@defaultMargin:  @lineHeight;


//
// Colors
//

@white:      #EBE9E8; // warm off-white
@primary:    #e24500; // bold, reddish-orange
@mediumGrey: #918d8b;

// Body
@backgroundColor: @white;
@textColor:       #554C48;
@lightGrey:       lighten(@textColor, 30%);
@veryLightGrey:   lighten(@textColor, 50%);
@superLightGrey:  lighten(@textColor, 60%);

// Links
@linkColor: @primary;

// Used for large links
@mediumGrey: #918d8b;

// Footer
@footerHeight: 3em;






// Deprecated colors

// @dark_blue: #13191f;
// @dark_blue:  #1F292F;
// @light_blue: #45525f;
// @orange:     #e24500;
// @lime:       #48ff00;