/* Global font, color and spacing */
body { color: #eee; font-family: Helvetica, Arial, Verdana, sans-serif; }

/* Headlines are :block so nothing can occupy the same line */
h1, h2, h3 { display: block; line-height: 1.1em; letter-spacing: -0.05em; margin: 0; }
h1, h2, h3 { text-shadow: 0 1px 0 rgba(255,255,255,0.5); }

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

/* <span> is :inline-block, to make border-bottom match width of the text */
h1 span, h2 span, h3 span { display: inline-block; }

h1 span { }
h2 span { border-bottom: 3px solid #dbdbdb; }
h3 span { }

/* Paragraphs */
p {
	display: block;
	margin: 10px 0;
	max-width: 500px;
	font-size: 14px;
	line-height: 18px;
}

span.code {
	display: inline-block;
	background: rgba(0,0,0,0.1);
	font-family: Courier, Courier New, monospace;
}