---
layout: default
title: Drryl
---

{% for post in site.posts reversed %}
    {% assign found_post = 'false' %}
    {% if post.category == 'editorial' %}
        {% if found_post == 'false' %}
            {% assign foundpost = 'true' %}
            {% assign fp = post %}
            {% assign content = fp.content %}
        {% endif %}
    {% endif %}
{% endfor %}

<article class="post{{ if fp.custom_class }} {{ fp.custom_class }}{{ endif }}">

    <h1>
        {{ fp.title }}
    </h1>

    {{ content }}

</article>

<!--
<ul class="bottom-nav">
    <li>
        <a class="bottom-nav--link" href="posts.html">
            More posts &raquo;
        </a>
    </li>
</ul>
-->