---
layout: default
title: Drryl
---

{% for post in site.posts %}
    {% assign found_post = 'false' %}
    {% if post.category == 'editorial' %}
        {% if found_post == 'false' %}
            {% assign foundpost = 'true' %}
            {% assign first_post = post %}
            {% assign content = first_post.content %}
        {% endif %}
    {% endif %}
{% endfor %}

<article class="post">

    <h1>
        {{ first_post.title }}
    </h1>

    {{ content }}

</article>

<ul class="bottom-nav">
    <li>
        <a class="bottom-nav--link" href="posts.html">
            More posts &raquo;
        </a>
    </li>
</ul>