<meta name="title" content="Derryl Carter">
<meta name="author" content="Derryl Carter"/>
<meta name="description" content="Musings on code, life, etc.">
<meta name="keywords" content="Derryl Carter, Drryl, interface design, web app design, ui design, web designer, front-end dev, TestFlight, startup, santa monica, CSS3, HTML5, backbone, underscore, zepto, jquery,"/>
<link rel="icon" href="/favicon.ico">
<meta content="True" name="HandheldFriendly"/>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="format-detection" content="telephone=no"/>
<!-- For controlling the "share" photo displayed on Facebook -->
<!--<meta property="fb:app_id" content="566180293446744" />-->
<meta property="og:type"  content="article">
<meta property="og:image" content="http://www.drryl.com/img/d-logomark-retina.png">
<meta property="twitter:card"  content="summary">
<meta property="twitter:image" content="http://www.drryl.com/img/d-logomark-retina.png">
{{ if page.title }}
<meta property="og:title" content="{{ page.title }}">
<meta property="twitter:title" content="{{ page.title }}">
{{ endif }}