.r {border: 1px solid red;} .g {border: 1px solid green;} .b {border: 1px solid blue;}

html, body { height: 100%; width: 100%; }

body { background: url(../img/bg.jpg) top center no-repeat; }

#wrapper {
	width: 700px;
	margin: 0 auto;
	height: 100%;
	padding: 0 10px;
	/* background: url(../img/grid-01.png) top left repeat-y; */
}

#baseline { width: 100%; height: 100%; }
#baseline:hover { background: url(../img/baseline.png) 0 -4px repeat; }